<!doctype html>
<html lang="en" ng-app="techMapApp">
<head>
    <meta charset="utf-8">

    <title>TechMap Vilnius</title>
    <meta name="description" content="Tech Map of Vilnius">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css"/>

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300,700"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-controller="TechMapController">

<div id="layout">

    <div id="menu" ng-controller="TechMapSideMenuController">
        <div ng-if="!selectedObject">
            <h1 class="text-center main-title">TechMap Vilnius</h1>
            <h2>Choose object on the map to start!</h2>
        </div>
        <div ng-if="selectedObject" ng-cloak>
            <div class="picture-container">
                <img class="main-picture" ng-src="{{selectedObject.pictureUrl}}">
            </div>
            
            <div class="data-container">
                <h1>{{selectedObject.title}}</h1>
                <p class="address"><i class="fa fa-location-arrow"></i> {{selectedObject.address}}</p>
                
                <ul class="object-data">
                    <li>
                        <i class="fa fa-user"></i> {{selectedObject.contactPerson}}
                    </li>
                    <li>
                        <i class="fa fa-phone"></i> {{selectedObject.contactPhone}}
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> <a href="mailto:{{selectedObject.contactEmail}}">{{selectedObject.contactEmail}}</a>
                    </li>
                    <li>
                        <i class="fa fa-link"></i> <a href="{{selectedObject.websiteUrl}}" target="_blank">{{selectedObject.websiteUrl}}</a>
                    </li>
                </ul>
                
                <ul class="object-data">
                    <li ng-show="selectedObject.revenues">
                        <label>Revenues</label>
                        <p>{{selectedObject.revenues}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="map" ng-controller="TechMapLayerController"></div>
</div>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>


<script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

<script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>

<script src="js/techmap.js"></script>
<script src="js/data_converter.js"></script>
<script src="js/map_layer.js"></script>
</body>
</html>
